<h1>My Song</h1>
<ul>
  <h1><li><%= @song.name %></li></h1>
  <li><%= (link_to @song.artist.name, artist_path(@song.artist))  %></li>
  <li><%= (link_to @song.genre.name, genre_path(@song.genre))  %></li>

</ul>
